body
{
margin: 1em 1em 1em 1em;
}
a
{
text-decoration : none; 
}
img
{
max-width:100%;
margin-top: 10pt;
}

p.booktitle
{
font-weight:bold;
font-size:2.5em;
margin-top: 2em;
margin-bottom:5.5em;
text-align:center;
}
p.bookauthor
{
font-weight:bold;
font-size:1.7em;
margin-top: 0em;
margin-right: 2em;
margin-bottom: 0em;
text-align:left;
}

p.booksubtitle
{
font-weight:bold;
font-size:1.7em;
margin-top: 0em;
margin-bottom:5em;
text-align:center;
color:#8A8A8A;
}

.bookimage
{
font-size:1.2em;
margin-top: 0em;
margin-bottom:1em;
text-align:left;
}
.fmpara
{
font-size: 0.9em;
text-indent:0em;
margin-top:0.5em;
margin-bottom: 0.3em;
text-align:justify;
}
.fmpara1
{
font-size: 0.9em;
text-indent:0em;
margin-top:0.4em;
margin-bottom: 0.3em;
text-align:right;
}

.inpara
{
text-indent:0em;
margin-top:0.4em;
margin-left:3em;
margin-bottom: 0.3em;
}
.pub
{
margin-top: 10em;
margin-bottom:1em;
text-align:right;
margin-right:5em;
}

.copyright
{
font-size:0.9em;
margin-top: 0.4em;
margin-bottom:0.4em;
margin-left:1.2em;
margin-right:1.2em;
text-align:left;
}

.copyright1
{
font-size:0.9em;
margin-top: 0.1em;
margin-bottom:0.1em;
margin-left:4em;
margin-right:3.3em;
text-align:left;
text-indent: -1.6em;
}

.copyright2
{
font-size:0.9em;
margin-top: 0.1em;
margin-bottom:0.1em;
margin-left:4.2em;
}

.dedication
{
font-size:1.2em;
margin-bottom: 0em;
margin-top: 3.5em;
text-align:center;
margin-right:1em;
font-style: italic;
}

.dedication1
{
font-size:1.2em;
margin-bottom: 0em;
margin-top: 0.5em;
text-align:center;
margin-right:1em;
font-style: normal;
}
.dedication2
{
font-size:1.2em;
margin-bottom: 0em;
margin-top: 1.5em;
text-align:center;
margin-right:1em;
font-style: italic;
}
.content-title
{
font-size:1.6em;
margin-top: 3em;
margin-bottom: 0.1em;
text-align:left;
font-weight:bold;
}

.fmtitle
{
font-size:2.5em;
margin-top: 1em;
margin-bottom: 1em;
text-align:left;
font-weight:bold;
border-bottom:1.1px solid black;
padding-bottom:0.8em;
}

.right
{
text-indent:0em;
margin-top:1em;
margin-right:1.5em;
margin-bottom: 0.3em;
text-align:right;
}
.right1
{
text-indent:0em;
margin-top:0em;
margin-right:1.5em;
margin-bottom: 0.2em;
text-align:right;
}

.chapimage
{
margin-left: 0.2em;
margin-top:1.5em;
margin-bottom:1.5em;
text-align:left;

}
p.ChapterNumber
{
font-weight:bold;
font-size:1.7em;
margin-top: 10px;
margin-left: 0em;
margin-bottom:5px;
text-align:left;
}
p.ChapterTitle
{
font-weight:bold;
font-size:2.5em;
margin-top:0em;
margin-bottom:1em;
margin-left: 0em;
text-align:left;
border-bottom: 1.1px solid black;
padding-bottom:0.8em;
}
p.PartNumber
{
font-weight:bold;
font-size:1.7em;
margin-top: 10px;
margin-left: 0em;
margin-bottom:5px;
text-align:left;
padding-bottom:0.8em;

}
p.partTitle
{
font-weight:bold;
font-size:2.5em;
margin-top:1em;
margin-bottom:1em;
margin-left: 0em;
text-align:left;
}

.paraaftertitle
{
font-size: 100%;
text-indent: 0em;
margin-top: 0em;
margin-left: 0em;
margin-bottom: 0em;
}
p.noindent
{
font-size: 100%;
text-indent: 0em;
margin-top: 1em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-align:left;
}
p.noindent1
{
font-size: 100%;
text-indent: 0em;
margin-top: 1em;
margin-bottom: 1em;
}
p.noindent2
{
font-size: 100%;
text-indent: 0em;
margin-top: 1.5em;
margin-bottom: 1em;
}
p.noindent3
{
font-size: 100%;
text-indent: 0em;
margin-top: 0.8em;
margin-bottom: 0.2em;
margin-left: 0em;
margin-right: 0em;
text-align:center;
}
p.noindent4
{
font-size: 100%;
text-indent: 0em;
margin-top: 0.8em;
margin-bottom: 0.2em;
margin-left: 0em;
margin-right: 0em;
text-align:left;
}

span.listing
{
font-weight: bold;
}

p.indent
{
font-size: 100%;
text-indent: 1.2em;
margin-top: 0.1em;
margin-bottom: 0.1em;
margin-left: 0em;
margin-right: 0em;
text-align:left;
}
p.indent1
{
font-size: 100%;
text-indent: 1.2em;
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-align:left;
}
p.indent2
{
font-size: 100%;
margin-top: 0.8em;
margin-bottom: 0.8em;
margin-left: 2.4em;
margin-right: 2.4em;
text-align:justify;
font-style:italic;
}
p.indent3
{
font-size: 100%;
text-indent: 1em;
margin-top: 0.8em;
margin-bottom: 0.8em;
margin-left: 1.8em;
margin-right: 1.8em;
text-align:left;
}
p.indent4
{
font-size: 100%;
text-indent: 1.3em;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 2em;
margin-right: 0em;
text-align:left;
}
.blockquote
{
font-size: 100%;
text-indent: 0.2em;
margin-top: 1em;
margin-left: 3em;
margin-bottom: 1em;
font-style: italic;
}
.blockquote1
{
font-size: 100%;
text-indent: 0.2em;
margin-top: 1em;
margin-left: 3em;
margin-bottom: 0em;
font-style: italic;
}

p.Heading1
{
font-weight:bold;
font-size:2em;
text-indent:.0em;
margin-top:1.3em;
margin-bottom:0.3em;
}

p.Heading2
{
font-size: 1.60em;
text-indent:0em;
margin-top:1.3em;
margin-bottom:0.3em;
}
p.Heading2a
{
font-size: 1.50em;
text-indent:0em;
margin-top:1.3em;
margin-bottom:0.3em;
font-weight:bold;
}
p.Heading3
{
font-weight:bold;
font-size: 1.45em;
text-indent:0em;
margin-top:1.2em;
margin-bottom:0.1em;
}
p.Heading3a
{
font-weight:normal;
font-size: 1.25em;
text-indent:0em;
margin-top:1.2em;
margin-bottom:0.1em;
}
p.Heading4
{
font-size: 1.30em;
text-indent:0em;
margin-top:1.3em;
margin-bottom:0.3em;
text-align: left;
}

.img
{
  max-width:100%;
  margin-top: 10pt;
}

.img1
{
text-align:left;
}


.img1a
{
text-align: right;
margin-right:5em;
margin-top:5em;
}
.img2
{
text-align:left;
}

div.Figure
{
font-size: small;
margin-top:1.5em;
margin-bottom:1.5em;
}
.para-1
{
font-size: 100%;
margin-top:1em;
text-indent: 1.5em;
margin-bottom: 0em;
text-align:left;
}
.para-2
{
font-size: 0.9em;
text-indent:-1.4em;
margin-left: 2.4em;
margin-top:0.5em;
margin-bottom: 0em;
}
.figurecaption
{
font-size: small;
margin-top:0em;
margin-bottom: 0em;
text-align:justify;
}

.image
{
text-align:center;
}

.codecaption
{
font-size: 100%;
margin-top:0.6em;
margin-bottom: 0.6em;
text-align:justify;
font-style: italic;
}

.PCode
{
font-size: small;
margin-top:1em;
margin-bottom: 1em;
margin-left: 0em;
text-align:left;
font-family : monospace;
}

.PCode-1
{
font-size: small;
margin-top:1em;
margin-bottom: 0.1em;
margin-left:0em;
text-align:left;
font-family : monospace;
}
.PCode-2
{
font-size: small;
margin-top:0em;
margin-bottom: 0em;
margin-left: 0em;
text-align:left;
font-family : monospace;
}
.PCode-3
{
font-size: small;
margin-top:0em;
margin-bottom: 1em;
margin-left:0em;
text-align:left;
font-family : monospace;
}

div.singlethin
{
border-bottom: solid 5px;
margin-left: 1em;
margin-right: 1em;
margin-bottom: 1em;
}
div.singlethin1
{
margin-left: 2em;
margin-right: 2em;
}
.inlinecode
{
font-family: monospace;
}

div.notepara
{
font-size: 110%;
text-indent:0em;
margin-top:1em;
border-top: solid 1px;
border-bottom: solid 1px;
margin-bottom:1em;
text-align:justify;
}

span.pink-box
{
font-weight:bold;
padding-left: 1.3em;
padding-right: 1.3em;
border: 1.1px solid black;
font-size:1.5em;
margin-top:0.5em;
text-align: center;
margin-bottom:0.5em;
text-indent:0em;
text-align:justify;
}
span.courier
{
font-family : Courier New;
font-weight : normal;
font-style : normal;
font-size : 100%;
}
div.courier
{
font-family : Courier New;
font-weight : normal;
font-style : normal;
font-size : 100%;
margin-top:1em;
margin-bottom:1em;

}
div.boxcourier
{
font-family : Courier New;
font-weight : normal;
font-style : normal;
font-size : 100%;
margin-top:1em;
margin-bottom:1em;
margin-left:1.5em;
margin-right:1.5em;
text-align:left;
}

span.courier1
{
font-family : Courier New;
font-weight : normal;
font-style : normal;
font-size : 95%;
}
.boxhead
{
font-size:1.25em;
font-weight:bold;
padding-left: 0.1em;
padding-top: 0.1Em;
padding-bottom: 0.1em;
padding-top: 0.1em;
margin-top:0em;
text-indent:0em;
text-align:center;
border: 3px solid black;
}

div.box
{
margin-top:1em;
margin-bottom:1em;
}
.boxpara
{
font-size: 110%;
text-indent:0em;
margin-left:1.5em;
margin-right:1.5em;
margin-top:0.5em;
margin-bottom:0.5em;
text-align:left;
}
.alpha
{
font-size: 1.2em;
font-weight: bold;
margin-left:0.2em;
margin-top:1em;
margin-bottom:0.3em;
text-align:left;
}
.index
{
font-size: small;
margin-left:0.2em;
margin-top:0em;
margin-bottom:0em;
text-align:left;
}
.index1
{
font-size: small;
margin-left:1em;
margin-top:0em;
margin-bottom:0em;
text-align:left;
}
.index2
{
font-size: small;
margin-left:2em;
margin-top:0em;
margin-bottom:0em;
text-align:left;
}
.cover
{
text-align:center;
}
.top
{
border-top: 1.1px solid black;
border-bottom: 2px solid black;
}
.bot
{
border-bottom: 2px solid black;
}
table.bodytable, table {
    border-collapse: collapse; 
    margin-bottom: 8px;
    font-size: small;
	margin-top:10pt;
	width: 95%;
	border-top: 0px solid black;
border-bottom: 0px solid black;
}

table.fmtable
{
margin-bottom:1em;
font-size: 1em;
margin-left:4em;
border-top: 0px solid #FFFFFF;
border-bottom: 0px solid #FFFFFF;
}

table
{
margin-bottom:1em;
border-top: 1.1px solid black;
border-bottom: 1.1px solid black;
border-collapse: collapse;
}

th
{
padding-right:1.5em;
}
td
{
font-size: small;
padding-right:1.5em;
margin-top:0em;
margin-bottom:1em;
}
.tablepara
{
font-size: small;
text-indent:0em;
margin-top:0em;
margin-bottom: 0.5em;
padding-right:1.5em;
}
.tablepara1
{
font-size: small;
margin-left:2em;
margin-top:0em;
margin-bottom: 0em;
padding-right:1.5em;
}
.header
{
border-bottom: 1.1px solid black;
text-indent:0em;
text-align:left;
}
.TabCapt
{
font-style: italic;
margin-left: 0em;
text-indent: 0em;
}
.FigCapt
{
font-size: 100%;
font-style: italic;
font-size: 0.9em;
}
.CaptNr
{
font-weight:bold;
}
.ttitle
{
font-style: Italic;
margin-bottom:1em;
}
p.paraaftertitle1
{
font-size: 0.90em;
text-indent: 0em;
margin-top: 0.5em;
margin-bottom: 0.8em;
text-align:left;
}

p.para
{
font-size: small;
text-indent: 20px;
margin-top:0em;
margin-bottom: 0em;
text-align:justify;
}

p.quote
{
font-style:italic;
font-size: 100%;
margin-top:1.5em;
margin-left:2.5em;
margin-right:2.5em;
margin-bottom: 0em;
}

p.quotesource
{
font-size: small;
text-indent:0em;
margin-top:1em;
margin-bottom: 1em;
text-align:right;
}
p.chaptersubtitle
{
font-size: x-large;
text-indent:0em;
margin-top:0em;
margin-left:0em;
margin-bottom:0em;
text-align:left;
}
p.line
{
margin-top: 0.3em;
border-bottom: 1px solid black;
}
p.line1
{
margin-top: 0.3em;
margin-bottom: 1.5em;
border-bottom: 1px solid black;
}
p.line2
{
margin-top: 5em;
margin-bottom: 5em;
border-bottom: 1px solid black;
text-align:center;
margin-left: 15em;
margin-right: 15em;
}

li
{
margin-bottom:0.5em;
margin-top:0.5em;
}

p.alpha
{
font-size: 1.2em;
font-weight: bold;
margin-left:0.2em;
margin-top:1em;
margin-bottom:0.3em;
text-align:left;
}

ul.bulleted
{
font-size: 100%;
text-align:justify;
margin-left:2.5em;
margin-right:3em;
margin-top:1em;
margin-bottom:1em;
text-indent:0em;
}

ol.OrderedList
{
font-size:100%;
text-align:left;
margin-left:2.5em;
margin-right:3em;
margin-top:1em;
margin-bottom:1em;
}
ul.bulleted1
{
font-size:100%;
text-align:justify;
margin-left:1.3em;
margin-right:5em;
margin-top:1em;
margin-bottom:1em;
text-indent:0em;
list-style-type: none;
}
ul.bulleted1_a
{
font-size:100%;
text-align:justify;
margin-left:0em;
margin-right:5em;
margin-top:1em;
margin-bottom:1em;
text-indent:0em;
list-style-type: none;
}
ul.bulleted2
{
font-size:100%;
text-align:justify;
margin-left:2.3em;
margin-right:5em;
margin-top:1em;
margin-bottom:1em;
text-indent:0em;
}
ul.bulleted4
{
font-size:100%;
text-align:center;
margin-left:1.3em;
margin-right:5em;
margin-top:1em;
margin-bottom:1em;
text-indent:0em;
list-style-type: none;
}
.numbered
{
font-size:small;
text-align:justify;
margin-left:2em;
margin-right:2em;
margin-top:0.5em;
margin-bottom:0.5em;
text-indent:1em;
}
.bulletedin
{
font-size: 100%;
text-align:justify;
margin-left:4em;
margin-right:4em;
margin-top:0.5em;
margin-bottom:0.5em;
}
ul.None
{
font-size:0.9em;
text-align:justify;
margin-left:3em;
margin-right:2em;
margin-top:0.5em;
margin-bottom:0.5em;
list-style-type:none;
}

.Listing
{
font-size:small;
margin-bottom:0em;

}

.PCode1

{
font-size: small;
margin-top:0.7em;
margin-bottom: 0em;
text-align:left;
font-family : monospace;
}

.PCode2

{
font-size: small;
margin-top:1em;
margin-bottom:0.1em;
margin-left:2.2em;
text-align:left;
font-family : monospace;
}
.PCode3

{
font-size: small;
margin-top:0em;
margin-left:2.2em;
margin-bottom:0.1em;
text-align:left;
font-family : monospace;
}

.NoteCaption {
font-size: small;
margin-top:1.3em;
margin-left:5em;
margin-right:5em;
border: 1.1px solid black;
padding:0.5em;
margin-bottom:1.3em;
}

.Table
{
font-size: 100%;
margin-bottom:1em;
margin-left:0em;
}

.toc
{
font-size: 1.1em;
margin-top: 0.2em;
margin-bottom: 0.2em;
text-align:left;
font-weight:bold;
}
.toca
{
font-size: 1.1em;
margin-top: 0.8em;
margin-bottom: 0.4em;
text-align:left;
font-weight:bold;
}
.toc1
{
font-size: 1.1em;
margin-top: 0.4em;
margin-bottom: 0.3em;
text-align:left;
text-indent:1em;
font-weight:normal;
}
.toc2
{
font-size: 1.2em;
margin-top: 0.4em;
margin-bottom: 0.3em;
text-align:left;
font-weight:bold;
}
.toc3
{
font-size: 0.9em;
margin-top: 0.4em;
margin-bottom: 0.3em;
text-align:left;
text-indent:2.5em;
font-weight:normal;
}
.toc4
{
font-size: 1.1em;
margin-top: 0.2em;
margin-bottom: 0.5em;
text-align:left;
font-weight:bold;
}
.tocch
{
font-size:1.3em;
margin-top: 0.7em;
margin-bottom: 0.7em;
text-align:left;
font-weight:bold;
}
.noborder
{

margin-bottom:1em;
border-top: 0px solid #FFFFFF;
border-bottom: 0px solid #FFFFFF;
}
.authurright
{
text-align:right;
margin-top:0em;
margin-bottom:0em;
}

.FormalPara

{
font-size: small;
margin-bottom: 0.7em;
}

.FontName1
{
font-size: 100%;
font-family: 'Courier New', Courier, monospace;
}
span.FontName2
{
font-size: 100%;

font-family: 'Courier New', Courier, monospace;
}

span.FontName3
{
font-size: 100%;
font-family: 'Courier New', Courier, monospace;
}
.rightarrow
{
	margin-top: 0pt;
}
div.thinline
{
margin-top: 1em;
margin-bottom: 1em;
border-top: solid 4px #AFAFB0;
border-bottom: solid 4px #AFAFB0;
}

span.line
{
text-decoration: underline;
}
span.underline
{
	text-decoration: underline;
        
}
div.box
{
border-top: solid 2px;
border-bottom: solid 2px;
}
.app
{
font-size:150%;
margin-left:.8em;
}
.page
{
text-decoration : none; 
color:#000000;
}
.cXXX
{
text-decoration : none; 
color:#000000;
}

.textindent
{
margin-left:1.7em;
margin-top:1em;
margin-bottom:1em;
font-size: 100%;
}

.textindent1
{
margin-left:1.7em;
margin-top:0em;
margin-bottom:0em;
font-size: 100%;
}

.textindent2
{
margin-left:1.7em;
margin-top:0em;
margin-bottom:0em;
font-size: 100%;
text-indent:1em;
}
p.FootNote
{
margin-top: 0.8em;
margin-bottom: 0em;
font-size : 85%;
text-indent: 0em;
text-align:left;
margin-left: 1.1em;
margin-right: 1.1em;
}

pre
{
margin-left: 0em;
font-family: monospace;
white-space: pre-wrap;
}

p.Heading4a
{
font-size: 1.15em;
font-weight:bold;
text-indent:1em;
margin-top:1.3em;
margin-bottom:0.3em;
border-bottom: solid 3px;
border-top: 3px solid #4d4d4c;
border-left: solid 3px #4d4d4c;
border-right: solid 3px #4d4d4c;
text-align: center;
}
p.noindent8
{
font-size: 100%;
text-indent: 0em;
margin-top: 1em;
margin-bottom: 1em;
text-align:center;
font-weight:bold;
color:#8A8A8A;
}
.tocb
{
font-size: 1.4em;
margin-top: 0.5em;
margin-bottom: 0.2em;
text-align:left;
font-weight:bold;
}
.part
{
font-weight:normal;
font-size:1em;
margin-bottom:5px;
text-align:left;
padding-left: 1.3em;
padding-bottom: 10em;
padding-right: 1.3em;
border: 1.1px solid black;
}
p.Heading5
{
font-size: 1em;
text-indent:0em;
margin-top:1.3em;
margin-bottom:0.3em;
text-align:center;
}

.Font1
{
font-size: 170%;
}
.Font2
{
font-size: 130%;
}
.Font3
{
font-size: 130%;
}
.Font4
{
font-size: 110%;

}